/* General */


@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600&display=swap');

/* Gets rid of the original space */

*{
    margin: 0;
    padding: 0;
}

/* Font selected from google fonts */
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
}
html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85);
}

/* Transition */

a, 
.btn{
    transition: all 300ms ease;
}

/* Desktop Nav */

nav, 
.nav-links{
    display: flex;
}

/* Alignment and space */

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

/* Gets rid of the bullet points and adjusts the font size */

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

/* Colour and hover settings of the desktop nav options */
a{
    color:cornflowerblue;
    text-decoration: none;
    text-decoration-color: beige;
}

a:hover{
    color:cadetblue;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181);
}

/* logo settings */

.logo{
    font-size: 2rem;
}

.logo:hover{
    cursor: default;
}

/* Smaller menu */
#hamburger-nav{
    display: none;
}

.hamburger-menu{
    position:relative;
    display: inline;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}